  <body>
  <div>Add a bookmark</div>
  <form method="post" action="/bookmarks">
    <input type="text" name="url" placeholder="Enter URL">
    <input type="submit" value="Submit"> 
  </form>
  </body>

