<head>
  <style>
    body {
    background-color: linen;
  }

  form {
    text-align: center;
  }

  </style>

</head>
<h1>Hello World!</h1>
<h2>My Bookmarks</h2>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
<a href="/bookmarks/add"> Add a bookmark </a>