<head>
  <style>
    body {
    background-color: linen;
  }

  form {
    text-align: center;
  }

  </style>

</head>
<h1>My Bookmarks</h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li> 
      <a href="<%= bookmark.url%>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>
<a href="/bookmarks/add"> Add a bookmark </a>